<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/content/images/logo.png" alt="..." />
        <!-- Masthead Heading-->

        <div class="mt-4">
            <h1 class="masthead-heading text-uppercase mb-0">Lista de Compras</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>



            <p class="masthead-subheading font-weight-light mb-0">
                Roupas -Eletrodoméstico - Outros
            </p>

        </div>
    </div>
</header>